<%- include('../partials/header') %>

<form action="" method="GET">
  <input type="hidden" name="page" value="1" />

  <%- include('../partials/navbar') %>

  <%- include('../partials/sidebar') %>

  <h1 style="font-size: 50px">Activity</h1>
  <br>
 

      
      <h4>Activity</h4>
 
      <ul>
        
        
             <% activity.forEach((item, index) => { %>
            <%= ` ${moment(item.time).format('dddd')}` %>
          
          <li>  <%= ` ${moment(item.time).format('HH:mm')} ${item.title} #${item.issueid} (${item.description}): Description, author: ${item.firstname}`  %></li>
          <% }) %>
          
      </ul>
      <br>

  


  <%- include('../partials/footer') %>