<%- include('../partials/header') %>

<form action="" method="GET">
  <input type="hidden" name="page" value="1" />

  <%- include('../partials/navbar') %>

  <%- include('../partials/sidebar') %>
        <h1>Issues</h1>


        <input onclick="myFunction1()" type="checkbox" id="myCheck1" />
  <div class="mb-3 row">
    <label for="ID" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
      <input
        type="text"
  
        class="form-control"
        id="ID"
        name="id"
        placeholder="ID"
        value="<%= query.id %>"
        disabled
      />
    </div>
  </div>

 

  <input onclick="myFunction2()" type="checkbox" id="myCheck2" />
  <div class="mb-3 row">
    <label for="Subject" class="col-sm-2 col-form-label">Subject</label>
    <div class="col-sm-10">
      <input
        type="text"
        value="<%= query.subject %>"
        class="form-control"
        id="Subject"
        name="subject"
        placeholder="Name"
        disabled
      />
    </div>
  </div>

  <input onclick="myFunction3()" type="checkbox" id="myCheck3" />
  <div class="mb-3 row">
    <label for="Tracker" class="col-sm-2 col-form-label">Tracker</label>
    <div class="col-sm-10">
      <select
      class="form-select"
      aria-label="Default select example"
      id="Tracker"
      name="tracker"
     
      disabled
      >
      <option selected>Open this select menu</option>
     
        <option value="Bug" <%= query.tracker == 'Bug' ? ' selected' : '' %>>Bug</option>
        <option value="Feature" <%= query.tracker == 'Feature' ? ' selected' : '' %> >Feature</option>
        <option value="Support" <%= query.tracker == 'Support' ? ' selected' : '' %> >Support</option>
        
      </select>
    </div>
  </div>

  
  
  <button type="submit" class="btn btn-success">Search</button>
  <a class="btn btn-warning" href="/projects/issue/<%= projectid %>">Reset</a>
</form>

<br /><br /><br /><br />
<form action="" method="POST">
  <h1>Options</h1>

  <div class="d-flex">
    <div style="margin-left: -10px;" class="p-2">Type</div>
    <div style="margin-left: 160px;" class="p-2">
   
    <div class="col">
      <input
        name="issueid"
        class="form-check-input"
        type="checkbox"
        id="flexCheckDefault"
        <%= optionissue["issueid"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckDefault"> ID </label>
    </div>
    <div class="col">
      <input
        name="subject"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= optionissue["subject"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Subject </label>
    </div>
    <div class="col">
      <input
        name="tracker"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= optionissue["tracker"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Tracker </label>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-success">Apply</button>
  
</form>
<br /><br /><br /><br />

<table  class="table table-striped">
  <tr>
    <% if(optionissue["issueid"]) { %>
    <th  id="checkid">#</th>
    <% } %>
    <% if(optionissue["subject"]) { %>
    <th  id="checkname">Subject</th>
    <% } %>
    <% if(optionissue["tracker"]) { %>
    <th  id="checkname">Tracker</th>
    <% } %>
    <th>Action</th>
  </tr>
  <% issue.forEach((item, index) => { %>
  <tr  class="genap">
    <% if(optionissue["issueid"]) { %>
    <td><%= item.issueid %></td>
    <% } %>
    <% if(optionissue["subject"]) { %>
    <td  id="cekname"><%= item.subject %></td>
    <% } %>
    <% if(optionissue["tracker"]) { %>
    <td  id="cekname"><%= item.tracker %></td>
    <% } %>
    <td>
     
      <a   class="btn btn-success <%= item.status == 'Closed' ? ' disabled' : ''  %>"  href="/projects/issue/<%= projectid %>/edit/<%= item.issueid %>"  >edit</a>
     
      <% if(session.role == 'admin') { %>
      <a class="btn btn-danger" href="/projects/issue/<%= projectid %>/delete/<%= item.issueid %>">delete</a>
      <% } %>
    </td>
  </tr>
  <% }) %>
</table>

<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item ">
        <% if(page > 1) { %>
            <% let i = page  %>
            <% i--  %>
        <a class="page-link " href="<%= url.replace(`page=${page}`, `page=${i}`) %>"  >Previous</a>
        <% } %>
      </li>
      <% for(let i = 1; i <= pages ; i++) { %>
      <li class="page-item <%= page == i ? ' active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
      <% } %>
    </li>
     
      
      <li class="page-item">
        <% if(page <= pages - 1) { %>
            <% let i = page  %>
            <% i++  %>
        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">Next</a>
        <% } %>
      </li>
    </ul>
  </nav>

<br>

<a class="btn btn-primary" href="/projects/issue/<%= projectid %>/add"> Add</a>

<script>
  function myFunction1() {
    if (document.getElementById("myCheck1").checked == true) {
      document.getElementById("ID").disabled = false;
    } else {
      document.getElementById("ID").disabled = true;
    }
  }
  function myFunction2() {
    if (document.getElementById("myCheck2").checked == true) {
      document.getElementById("Subject").disabled = false;
    } else {
      document.getElementById("Subject").disabled = true;
    }
  }

  function myFunction3() {
    if (document.getElementById("myCheck3").checked == true) {
      document.getElementById("Tracker").disabled = false;
    } else {
      document.getElementById("Tracker").disabled = true;
    }
  }

 
</script>

<%- include('../partials/footer') %>
