<%- include('../partials/header') %>

<form action="" method="GET">
  <input type="hidden" name="page" value="1" />

  <%- include('../partials/navbar') %>

  <%- include('../partials/sidebar') %>
        <h1>Members</h1>
 

  <input onclick="myFunction2()" type="checkbox" id="myCheck2" />
  <div class="mb-3 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        value="<%= query.name %>"
        class="form-control"
        id="Name"
        name="name"
        placeholder="Name"
        disabled
      />
    </div>
  </div>

  <input onclick="myFunction3()" type="checkbox" id="myCheck3" />
  <div class="mb-3 row">
    <label for="Member" class="col-sm-2 col-form-label">Position</label>
    <div class="col-sm-10">
      <select
      class="form-select"
      aria-label="Default select example"
      id="Member"
      name="role"
     
      disabled
      >
      <option selected>Open this select menu</option>
      <% memberss.forEach((item, index) => { %>
        <option value="<%= item.role %>" <%= query.role == item.role ? ' selected' : '' %>><%= item.role %></option>
        <% }) %>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Search</button>
  <a class="btn btn-warning" href="/projects/members/<%= projectid %>">Reset</a>
</form>

<br /><br /><br /><br />
<form action="" method="POST">
  <h1>Options</h1>

  <div class="d-flex">
    <div style="margin-left: -10px;" class="p-2">Type</div>
    <div style="margin-left: 160px;" class="p-2">
   
    <div class="col">
      <input
        name="id"
        class="form-check-input"
        type="checkbox"
        id="flexCheckDefault"
        <%= optionmember["id"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckDefault"> ID </label>
    </div>
    <div class="col">
      <input
        name="name"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= optionmember["name"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Name </label>
    </div>
    <div class="col">
      <input
        name="role"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= optionmember["role"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Member </label>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-success">Apply</button>
  
</form>
<br /><br /><br /><br />

<table  class="table table-striped">
  <tr>
    <% if(optionmember["id"]) { %>
    <th  id="checkid">#</th>
    <% } %>
    <% if(optionmember["name"]) { %>
    <th  id="checkname">Name</th>
    <% } %>
    <% if(optionmember["role"]) { %>
    <th  id="checkname">Position</th>
    <% } %>
    <th>Action</th>
  </tr>
  <% memberss.forEach((item, index) => { %>
  <tr  class="genap">
    <% if(optionmember["id"]) { %>
    <td><%= index + 1 %></td>
    <% } %>
    <% if(optionmember["name"]) { %>
    <td  id="cekname"><%= item.firstname %></td>
    <% } %>
    <% if(optionmember["role"]) { %>
    <td  id="cekname"><%= item.role %></td>
    <% } %>
    <td>
      <a class="btn btn-success" href="/projects/members/<%= projectid %>/edit/<%= item.userid %>">edit</a>
      <a class="btn btn-danger" href="/projects/members/<%= projectid %>/delete/<%= item.userid %>">delete</a>
    </td>
  </tr>
  <% }) %>
</table>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item ">
      <% if(page > 1) { %>
          <% let i = page  %>
          <% i--  %>
      <a class="page-link " href="<%= url.replace(`page=${page}`, `page=${i}`) %>"  >Previous</a>
      <% } %>
    </li>
    <% for(let i = 1; i <= pages ; i++) { %>
    <li class="page-item <%= page == i ? ' active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
    <% } %>
  </li>
   
    
    <li class="page-item">
      <% if(page <= pages - 1) { %>
          <% let i = page  %>
          <% i++  %>
      <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">Next</a>
      <% } %>
    </li>
  </ul>
</nav>
<br>

<a class="btn btn-primary" href="/projects/members/<%= projectid %>/add"> Add</a>

<script>
  function myFunction1() {
    if (document.getElementById("myCheck1").checked == true) {
      document.getElementById("ID").disabled = false;
    } else {
      document.getElementById("ID").disabled = true;
    }
  }
  function myFunction2() {
    if (document.getElementById("myCheck2").checked == true) {
      document.getElementById("Name").disabled = false;
    } else {
      document.getElementById("Name").disabled = true;
    }
  }

  function myFunction3() {
    if (document.getElementById("myCheck3").checked == true) {
      document.getElementById("Member").disabled = false;
    } else {
      document.getElementById("Member").disabled = true;
    }
  }

 
</script>

<%- include('../partials/footer') %>
