<%- include('../partials/header') %>
<form action="" method="GET">

    
  <%- include('../partials/navbar') %>

 
  <%- include('../partials/sidebar') %>
  

        <h1 style="font-size: 50px">Overview</h1>
        <br>
        <h1>Library System</h1>

        <div class="container-issue">
            
            <h4>Issue tracking</h4>
            <ul>
                <li>Bug : 0 Open / 0</li>
                <li>Feature : 0 Open / 0</li>
                <li>Feature : 0 Open / 0</li>
            </ul>
        </div>
        
        <div class="container-issues">
            
            <h4>Members</h4>
            <ul>
             
                    <% for (let i = 0; i < memberss.length; i++) { %>
                <li 
                    ><%= `${memberss[i].firstname} ${memberss[i].lastname}`  %></li>
                    <% } %>
                
                
                
            </ul>
        </div>


    </form>
<%- include('../partials/footer') %>