<%- include('../partials/header') %>

<form action="" method="GET">
  <input type="hidden" name="page" value="1" />

  <%- include('../partials/navbar') %>

 

 <br>
  
  <h1>Projects</h1>

  <input onclick="myFunction1()" type="checkbox" id="myCheck1" />
  <div class="mb-3 row">
    <label for="ID" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
      <input
        type="number"
        value="<%= query.userid %>"
        class="form-control"
        id="ID"
        name="userid"
        placeholder="ID"
        disabled
      />
    </div>
  </div>

  <input onclick="myFunction2()" type="checkbox" id="myCheck2" />
  <div class="mb-3 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        value="<%= query.firstname %>"
        class="form-control"
        id="Name"
        name="firstname"
        placeholder="Name"
        disabled
      />
    </div>
  </div>

  <input onclick="myFunction3()" type="checkbox" id="myCheck3" />
  <div class="mb-3 row">
    <label for="Member" class="col-sm-2 col-form-label">Position</label>
    <div class="col-sm-10">
      <select
      class="form-select"
      aria-label="Default select example"
      id="Member"
      name="position"
     
      disabled
      >
      <option selected>Open this select menu</option>
      <% nama.forEach((item, index) => { %>
        <option value="<%= item.userid %>" <%= query.position == item.userid ? ' selected' : '' %>><%= item.position %></option>
        <% }) %>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Search</button>
  <a class="btn btn-warning" href="/projects">Reset</a>
</form>

<br /><br /><br /><br />
<form action="/projects" method="POST">
  <h1>Options</h1>

  <div class="d-flex">
    <div style="margin-left: -10px;" class="p-2">Type</div>
    <div style="margin-left: 160px;" class="p-2">
   
    <div class="col">
      <input
        name="userid"
        class="form-check-input"
        type="checkbox"
        id="flexCheckDefault"
        <%= options["userid"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckDefault"> ID </label>
    </div>
    <div class="col">
      <input
        name="firstname"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= options["firstname"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Name </label>
    </div>
    <div class="col">
      <input
        name="position"
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        <%= options["position"] ? ' checked' : ''  %>
      />
      <label class="form-check-label" for="flexCheckChecked"> Position </label>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-success">Apply</button>
  
</form>
<br /><br /><br /><br />

<table  class="table table-striped">
  <tr>
    <% if(options["userid"]) { %>
    <th  id="checkid">ID</th>
    <% } %>
    <% if(options["firstname"]) { %>
    <th  id="checkname">Name</th>
    <% } %>
    <% if(options["position"]) { %>
    <th  id="checkname">Member</th>
    <% } %>
    <th>Action</th>
  </tr>
  <% nama.forEach((item, index) => { %>
  <tr  class="genap">
    <% if(options["userid"]) { %>
    <td  id="cekid"> <%= item.userid %></td>  
      <% } %>
    <% if(options["firstname"]) { %>
    <td  id="cekname"><%= item.firstname %></td>
    <% } %>
    <% if(options["position"]) { %>
    <td  id="cekname"><%= item.position %></td>
    <% } %>
    <td>
      <a class="btn btn-success" href="/projects/edit/<%= item.projectid%>">edit</a>
      <a class="btn btn-danger" href="/projects/delete/<%= item.projectid%>">delete</a>
    </td>
  </tr>
  <% }) %>
</table>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item ">
      <% if(page > 1) { %>
          <% let i = page  %>
          <% i--  %>
      <a class="page-link " href="<%= url.replace(`page=${page}`, `page=${i}`) %>"  >Previous</a>
      <% } %>
    </li>
    <% for(let i = 1; i <= pages ; i++) { %>
    <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
    <% } %>
  </li>
   
    
    <li class="page-item">
      <% if(page <= pages - 1) { %>
          <% let i = page  %>
          <% i++  %>
      <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">Next</a>
      <% } %>
    </li>
  </ul>
</nav>
<br>

<a class="btn btn-primary" href="/projects/add/"> Add</a>

<script>
  function myFunction1() {
    if (document.getElementById("myCheck1").checked == true) {
      document.getElementById("ID").disabled = false;
    } else {
      document.getElementById("ID").disabled = true;
    }
  }
  function myFunction2() {
    if (document.getElementById("myCheck2").checked == true) {
      document.getElementById("Name").disabled = false;
    } else {
      document.getElementById("Name").disabled = true;
    }
  }

  function myFunction3() {
    if (document.getElementById("myCheck3").checked == true) {
      document.getElementById("Member").disabled = false;
    } else {
      document.getElementById("Member").disabled = true;
    }
  }

 
</script>

<%- include('../partials/footer') %>


<% if(info.length > 0) { %>
  <%= info %>
  <% } %>